<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div>

rails g model Room home_type:string room_type:string accommodate:integer bed_room:integer bath_room:integer listing_name:string summary:text address:string is_tv:boolean arabic_channels:boolean is_kitchen:boolean is_air:boolean is_heating:boolean is_internet:boolean price:integer active:boolean is_douche:boolean prayer_room:boolean halal_breakfast:boolean koran_book:boolean prayer_rug:boolean mecca_orientation:boolean ramadan_food_drinks:boolean welcome_tea_fruit:boolean halal_bar:text user:reference
